# Configuration
/config/parameters.yml
/config/config_dev.yaml
/config/config_prod.yaml
.env.local
composer.local.json
.php-version
.vscode/

/vendor/*
!/vendor/postyou

/vendor/postyou/*
!/vendor/postyou/contao-vsm-bundle/

/files/System/Mitgliederdaten/*
/files/System/Partnerdaten/*

# Contao Manager
/contao-manager/

# Generated folders
/assets/
/system/*
!/system/config/
/var/
/public/*
!/public/.htaccess
/app/
.php-cs-fixer.cache
.file-ops

# Skip files
/system/modules/*/.skip
node_modules/

# bin
bin/
